@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>MessageAndMove</title>
        <meta http-equiv="Contents-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="/Contents/js/common.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            var message = ChangeEscape("@ViewBag.Message");
            var return_page = ChangeEscape("@ViewBag.ReturnPage");

            alert(message);
            window.location = return_page;
        </script>
    </body>
</html>