@model PT.BusinessLogic.Entities.Order
@{
    Layout = null;
    ViewBag.Title = "KSIS(KCC E&C SMART INFORMATION SYSTEM)";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- 인코딩 -->
    <meta http-equiv="Contents-Type" content="text/html" charset="utf-8" />
    <!-- 문서모드 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="/Contents/images/favicon.ico" />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/Contents/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Contents/css/portal.css" />
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }
    </style>
    <!-- script -->
    <script type="text/javascript" src="/Contents/js/common.js"></script>
    <script type="text/javascript" src="/Contents/js/component.js"></script>
    <script type="text/javascript" src="/Contents/js/jquery-1.9.1.min.js"></script>
</head>

    <body>
        <!-- 콘텐츠 -->
        <br />
        <div id="contents">
            <!-- 입력박스 -->
            <div class="box_input" style="margin-top:10px;">
                <table>
                    <colgroup>
                        <col style="width:20%" />
                        <col style="width:80%" />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>도급공사명</th>
                            <td class="td_center">@Model.ProjectFullNm</td>
                        </tr>
                        <tr>
                            <th>발주처</th>
                            <td class="td_center">@Model.VendorNm</td>
                        </tr>
                        <tr>
                            <th>공사금액</th>
                            <td class="td_center">@Model.FixAmt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- //입력박스 -->
            <br />
            <!-- 버튼박스 -->
            <div style="text-align:center;">
                <a id="btn_close" class="btn1">닫기</a>
            </div>
            <!-- //버튼박스 -->
        </div>

        <!-- //콘텐츠 -->
    </body>
</html>

<script type="text/javascript">

    //그리드 TR 클릭 이벤트
    $(document).on("click", "#btn_close", function (e) {
        self.close();
    });

</script>