@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>WeatherNowFileUpload</title>
    <!-- 인코딩 -->
    <meta http-equiv="Contents-Type" content="text/html" charset="utf-8" />
    <!-- 문서모드 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
    @ViewBag.State
</body>
</html>
