<!DOCTYPE html>
<html>
<head>
    <!-- 인코딩 -->
    <meta http-equiv="Contents-Type" content="text/html" charset="utf-8" />
    <!-- 문서모드 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="https://keps2.kccworld.net/GWStorage/NoticePop/KCCECINFO/favicon.ico" />

</head>
<body>
    <img src="https://keps2.kccworld.net/GWStorage/NoticePop/KCCECINFO/kccenc_system.jpg" usemap="#test" alt="KCC건설 시스템 구성도" />
    <map name="test" id="test">
        <area shape="poly" coords="189 297 228 232 259 252 221 316" alt="KSIS" title="클릭하면 KSIS 페이지로 이동합니다." target="_blank" href="https://ksis.kccworld.net" />
        <area shape="poly" coords="148 384 188 300 220 318 183 386" alt="내부회계" title="클릭하면 내부회계 페이지로 이동합니다." target="_blank" href="http://iam.kccworld.net/goMain.do" />
        <area shape="poly" coords="229 231 273 170 290 201 260 249" alt="KDAS" title="클릭하면 KDAS 페이지로 이동합니다." target="_blank" href="http://kdas.kccworld.net" />
        <area shape="poly" coords="550 170 674 386 638 384 531 200" alt="KEPS2" title="클릭하면 KEPS2 페이지로 이동합니다." target="_blank" href="https://keps2.kccworld.net/WebSite/Login.aspx" />
        <area shape="poly" coords="216 451 266 535 235 556 185 471" alt="협력업체포탈" title="클릭하면 협력업체포탈 페이지로 이동합니다." target="_blank" href="https://partner.kccworld.net/" />
        <area shape="poly" coords="55 435 115 435 115 456 55 456" alt="KCC건설" title="클릭하면 KCC건설 홈페이지로 이동합니다." target="_blank" href="https://www.kccworld.net/main.do" />
        <area shape="poly" coords="55 468 115 468 115 490 55 490" alt="스위첸" title="클릭하면 스위첸 홈페이지로 이동합니다." target="_blank" href="https://www.switzen.com/main.do" />
        <area shape="poly" coords="144 604 202 604 202 625 144 625" alt="CS관리" title="클릭하면 CS관리 페이지로 이동합니다." target="_blank" href="https://as.kccworld.net/" />
        <area shape="poly" coords="144 640 202 640 202 661 144 661" alt="CS모바일" title="클릭하면 CS모바일 페이지로 이동합니다." target="_blank" href="https://mas.kccworld.net/" />
        <area shape="poly" coords="298 580 360 584 357 621 282 614" alt="KOUP" title="클릭하면 KOUP 페이지로 이동합니다." target="_blank" href="http://koup.kccworld.net/" />
        <area shape="poly" coords="364 585 479 585 482 621 360 621" alt="KOSMO" title="클릭하면 KOSMO 페이지로 이동합니다." target="_blank" href="https://kosmo.kccworld.net/login" />

        <area shape="poly" coords="886 195 1057 195 1057 239 886 239" alt="KCC" title="클릭하면 KCC 홈페이지로 이동합니다." target="_blank" href="https://www.kccworld.co.kr/main.do" />
        <area shape="poly" coords="886 262 1057 262 1057 307 886 307" alt="KCC 글라스" title="클릭하면 KCC 글라스 홈페이지로 이동합니다." target="_blank" href="http://www.kccglass.co.kr/main.do" />
        <area shape="poly" coords="886 333 1057 333 1057 377 886 377" alt="홈씨씨" title="클릭하면 홈씨씨 홈페이지로 이동합니다." target="_blank" href="http://www.homecc.co.kr/" />
        <area shape="poly" coords="886 402 1057 402 1057 446 886 446" alt="KAC" title="클릭하면 KAC 홈페이지로 이동합니다." target="_blank" href="http://kac.kccworld.co.kr/" />
        <area shape="poly" coords="886 472 1057 472 1057 516 886 516" alt="금강레저" title="클릭하면 금강레저 홈페이지로 이동합니다." target="_blank" href="https://www.kccgolf.co.kr/" />
        <area shape="poly" coords="886 542 1057 542 1057 586 886 586" alt="KCC EGIS" title="클릭하면 KCC EGIS 홈페이지로 이동합니다." target="_blank" href="http://www.kccegis.com/main/main.asp" />
    </map>
</body>
</html>